.cart{
    position: sticky;
    top: 10px;
    right: 10px;
    border-left: 1px solid lightgray;
    padding: 5px;
    height: 100vh;
}
 .cart>Link>button.cart-btn {
    background: goldenrod;
    color: white;
    width: 150px;
    padding: 5px;
    text-align: center;
    
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
}